div class="bg-white"
  div class="max-w-screen-xl mx-auto py-16 px-4 sm:py-24 sm:px-6 lg:px-8"
    div class="text-center"
      h1 class="mt-1 text-4xl leading-10 font-extrabold text-gray-900 sm:text-5xl sm:leading-none sm:tracking-tight lg:text-6xl" Modern Datatables
      p class="max-w-xl mt-5 mx-auto text-xl leading-7 text-gray-500"
        ' This demo is build with
        =>  link_to "Hotwire", 'https://hotwire.dev/', class: 'underline hover:text-gray-900'
        ' and
        = link_to  "Rails", 'https://rubyonrails.org/', class: 'underline hover:text-gray-900'
        ' .

      p class="max-w-xl mt-5 mx-auto text-xl leading-7 text-gray-500"
        ' Why this project?
        ' Find out more on
        = link_to "Github", 'https://github.com/guillaumebriday/modern-datatables', class: 'underline hover:text-gray-900'
        ' .

div class="pb-5 space-y-3 sm:flex sm:items-center sm:justify-between sm:space-x-4 sm:space-y-0"
  h3 class="text-lg leading-6 font-medium text-gray-900" Todos

  div class="flex space-x-3"
    span class="shadow-sm rounded-md"
      = link_to new_todo_path, class: 'inline-flex items-center px-4 py-2 border border-transparent text-sm leading-5 font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-500 focus:outline-none focus:shadow-outline-indigo focus:border-indigo-700 active:bg-indigo-700 transition duration-150 ease-in-out' do
        ' Create todo

= render 'search'

- if @todos.present?
  = render 'list'
- else
  = render 'no_results'
