@import "node_modules/tailwindcss/base";
@import "node_modules/tailwindcss/components";
@import "node_modules/tailwindcss/utilities";

.page {
  @apply relative inline-flex items-center px-4 py-2 border border-gray-300 text-sm leading-5 font-medium rounded-md text-gray-700 bg-white transition ease-in-out duration-150;

  &:hover {
    @apply text-gray-500;
  }

  &:focus {
    @apply outline-none shadow-outline-blue border-blue-300;
  }

  &:active {
    @apply bg-gray-100 text-gray-700;
  }
}

.page--link {
  @apply -ml-px relative inline-flex items-center px-4 py-2 border border-gray-300 bg-white text-sm leading-5 font-medium text-gray-700 transition ease-in-out duration-150;

  &:focus {
    @apply z-10 outline-none border-blue-300 shadow-outline-blue;
  }

  &:active {
    @apply bg-gray-100 text-gray-700;
  }

  &:hover,
  &.active {
    @apply bg-blue-100 text-blue-800;
  }
}
