rerun.txt
*.swp
*.swo
*.DS_Store
.bundle
db/*.sqlite3*
log/*.log
.sass-cache/
tmp/*
public/tmp/*
public/uploads
public/packs/
dump.rdb
.byebug_history
routes.txt
.idea
/public/packs
/public/packs-test
/public/assets
/node_modules
/coverage
/storage
yarn-error.log

/public/packs
/public/packs-test
/node_modules
/yarn-error.log
yarn-debug.log*
.yarn-integrity
yarn.lock

.env

/app/assets/builds/*
!/app/assets/builds/.keep
